{% extends 'main/header.html' %}

{% block naslov %}
    <title>O kompaniji</title>
{% endblock %}

{% block sadrzaj_stranice%}

<div style="padding:3%">
    <h2>
        Čemu služi ovaj sajt?
    </h2>
    <br><br>
    <h5>
        Ovaj websajt namijenjen je za one koji pokušavaju odlučiti koji je najbolji proizvod neke vrste za njih.Naime, ovdje mogu da nađu najjeftiniju stvar koja se prodaje na tržištu.To tražimo tako što smo dobili veliku količinu
        informacija o artiklima na našem tržištu.U našu bazu povjerljive osobe odnosno korisnici unose cijene određenih artikala koje zabilježe, te naš backend poredi cijenu unesenog artikla koja je prije bila u bazi sa novounesenom, i pamti onu sa manjom vrijendosti.
        Ukoliko artikal ne postoji, pravi se novi zapis u bazi koja drži proizvode.
    </h5>
    <br><br>
    <h2>
        Validnost informacija
    </h2>
    <br><br>
    <h5>
        Naravno, mi ne možemo znati da li su unesene vrijednosti za proizvode validne,ali želimo da pošaljemo poruku svima koji objavljuju cijene artikala na naš websajt:
        Nemojte zloupotrebljavati sajt, odnosno unosite cijene artikala za koje ste 100% sigurni da su ispravne, da biste pomogli drugima koji pokušavaju da uštede pomoću ovog sajta.
    </h5>
    <br><br>
    <h2>
        Kako stupiti u kontakt sa nama?
    </h2>
    <h5>
        Glavni razvojni programer, kako front end tako i back end dijela ovog websajta je Petrović Armin.
        Za sve informacije, prijedloge i žalbe, te savjete za poboljšanje sajta obratite se njemu na mail:
        arminpeta@gmail.com ili na telefon 062 066 506.
    </h5>
</div>

{% endblock %}