<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  {% load static %}
  {% block naslov %}
  {% endblock %}

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'main/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'main/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">BestPriceBIH.com</a>
      <ul class="right hide-on-med-and-down">
            <li><a href="http://127.0.0.1:8000/">Početna</a></li>
            <li><a href="http://127.0.0.1:8000/search">Pretraži proizvode</a></li>
            <li><a href="http://127.0.0.1:8000/post">Objavi proizvod</a></li>
            <li><a href="http://127.0.0.1:8000/about">O nama</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
            <li><a href="http://127.0.0.1:8000/">Početna</a></li>
            <li><a href="http://127.0.0.1:8000/search">Pretraži proizvode</a></li>
            <li><a href="http://127.0.0.1:8000/post">Objavi proizvod</a></li>
            <li><a href="http://127.0.0.1:8000/about">O nama</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  {% block sadrzaj_stranice%}
  {% endblock %}

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Website opis</h5>
          <p class="grey-text text-lighten-4">Mi smo kompanija koja se bavi proučavanjem cijena na BIH tržištu i pronalaska najjeftinijih proizvoda koji se nalaze u našoj bazi podataka</p>

    <div class="footer-copyright">
      <div class="container">
      Dizajn i backend by : <a class="orange-text text-lighten-3" href="#">Petrović Armin</a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'main/js/materialize.js' %}"></script>
  <script src="{% static 'main/js/init.js' %}"></script>

  </body>
</html>
